* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
}

.contenedor-app {
  max-width: 1200px;
  margin: 2% auto;
  padding: 1rem;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 240px;
  background-color: #fff;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.seccion-precio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.25rem;
}

.etiqueta-titulo {
  font-weight: bold;
  font-size: 1rem;
}

.contenedor-entrada-precio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.entrada-precio {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.boton-sonido {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.boton-sonido img {
  width: 36px;
  height: 36px;
}

.contenedor-saldos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.item-saldo {
  background-color: #e2e2e2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-cantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 0.5rem 0;
}

.item-cantidad {
  flex: 0 0 auto;
  width: 30px;
  text-align: center;
}

.item-cantidad img {
  width: 100%;
  height: auto;
  display: block;
}

.etiqueta-saldo {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.valor-saldo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contenedor-titulo-bolsillo {
  margin-bottom: 1rem;
}

.titulo-bolsillo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.separador {
  border: none;
  height: 1px;
  background-color: #000;
}

.rejilla-dinero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  max-height: auto;
  overflow-y: auto;
  overflow-x: hidden;

}

.item-dinero {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.item-dinero-button {
  width: 100px;
  height: 100px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.item-dinero-img {
  max-height: 50px;
  max-width: 100px;
  object-fit:cover;
  padding: 0;
  margin: 0;
}

.controles-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.boton-control {
  background-color: #ccc;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.contador-item {
  min-width: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.bloque{
  margin-top: 200px;
}